#landing {
    position: relative;
    height: 100vh;
    padding: 0px;
    background-size: cover !important;
    display: none;
}

#landing.js-loaded {
  background: url("/images/no-more-backgrounds.jpg");
}

.jumbotron {
  z-index: 5;
  /*background-size: 100% auto;*/
}

.jumbotron {
  margin-bottom: 0px;
}

#videoContainer {
    display: none;
}


.video-wrap, .video-overlay {
  position: absolute;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
}

.video-wrap video {
  position: relative;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
}

/*#videoContainerDiv {
  z-index: 1;
}*/

.video-overlay {
  z-index: 5;
  /*background: transparent url('../images/grid.png') repeat;*/
  -webkit-backface-visibility: hidden;
}

.caption-center {
    position: absolute;
    width: 100%;
    text-align: center;
    top:50%;
    margin-top: -50px;
    width: 100%;
    margin-left: auto;
     margin-right: auto;
    color: #FFF;
}

.caption-container {
    position: relative;
    min-height: 100%;
    width: 100%;
}

.caption-center img, .caption-center svg  {
    max-width: 500px;
    width: 90%;
    }

#kiss-container {
  position: absolute;
  left: 0;
  bottom: 0;
}


#logo-container {
  position: absolute;
  right: 5px;
  bottom: 5px;

}

#logo-container img {
  max-width: 90%;
  float: right;
}

/* ------------------------------------- */
/*       Social Icons        */
/* ------------------------------------- */
.caption-center .social-icon {
  max-width: 100px;
  stroke: black;
  fill: none;
  transition: stroke 1s, fill 1s;
}

.caption-center .social-icon.red-icon {
  stroke: red;
}

.caption-center .social-icon.white-icon {
  stroke: white;
}

.caption-center .social-icon:hover {
  stroke: red;
  fill: white;
}

.caption-center .social-icon:hover path {
  fill: white;
}

.caption-center .icon-1 .social-icon:hover {
  stroke: orange;

}
.caption-center .icon-2 .social-icon:hover {
  stroke: blue;
  fill: blue;

}
.caption-center .icon-3 .social-icon:hover {
  stroke: aqua;

}
.caption-center .icon-4 .social-icon:hover {
  stroke: red;

}

.caption-center > a {
  text-decoration: none;
}

/* Check for SVG animation allowed with modernizr and add to front*/
.smil .social-icon {
  stroke-dasharray: 2000px, 2000px;
  stroke-dashoffset: 2000;
}

.smil .js-loaded .social-icon { 
  -webkit-animation: dash-two 6s forwards;
  -o-animation: dash-two 6s forwards;
  animation: dash-two 6s forwards;
}

@-webkit-keyframes dash-two {
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes dash-two {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash-two {
  to {
    stroke-dashoffset: 0;
  }
}
/*-------   Social Icons End ------ */


@media (max-width: 767px) { 
  .caption-center .social-icon {
    max-width: 60px;
  }

  .caption-center {
    /*top: 30%;*/
  }

}

$hiddenTextWidth: 200px;

#hidden-text {
  color: white;
  bottom: 30px;
  left: 33%;
  width: $hiddenTextWidth;
  margin-left: -($hiddenTextWidth/2);
  position: absolute;
}

#videoContainerDiv {
  visibility: hidden;
}